@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

/* Variables */
:root {
  --stroke-effect: -1px -1px 0 rgba(255, 255, 255, 0.3),
    1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3),
    1px 1px 0 rgba(255, 255, 255, 0.3);
  --color: #333333;
  --background-color: #ffa500;
  --font-family: "Caveat", cursive;
  --maze-color: rgb(117, 29, 29);
}

/* Default Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
  text-shadow: var(--stroke-effect);
}

button {
  cursor: pointer;
}

h1,
p {
  margin: 0;
  font-family: var(--font-family);
  color: var(--color);
  text-shadow: var(--stroke-effect);
}

/* Main Styles */
.welcoming-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  font-size: 2rem;
  width: 30rem;
  margin-inline: auto;
}

.welcoming-con p {
  font-size: 2.25rem;
}

.welcoming-con > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Difficulty Buttons */
#difficulty-btn {
  padding: 1em;
  background-color: var(--background-color);
  border: 1px solid var(--color);
  text-shadow: var(--stroke-effect);
  border-radius: 20px;
  padding-block: 0.3em;
  transition: all 0.15s;
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: 700;
}

#difficulty-btn:hover {
  background-color: var(--color);
}

#difficulty-btn:active {
  filter: brightness(130%);
}

#difficulty-btn > a {
  text-decoration: none;
  color: var(--color);
  transition: 0.15s;
}

#difficulty-btn:hover > a {
  color: white;
  text-shadow: none;
}

.welcoming-con img {
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .welcoming-con h1 {
    font-size: 2.25rem;
  }

  .welcoming-con p {
    font-size: 2.25rem;
  }

  .welcoming-con {
    width: 100%;
  }

  .welcoming-con > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcoming-con select {
    align-self: center;
  }

  .welcoming-con select option {
    font-size: 1.25rem;
  }
}

/* Game Page */
.player-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.player-stats > p {
  font-size: 3rem;
  font-weight: 700;
}

.player-stats > img {
  width: 8rem;
}

.controls-con {
  position: absolute;
  left: 10%;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.control {
  border: 1px solid var(--color);
  border-radius: 5px;
  background-color: var(--background-color);
  padding: 1em;
  width: 6rem;
  color: var(--stroke-effect);
  transition: 0.1s;
}

.control > i {
  margin-left: 4px;
}

.control:hover {
  filter: brightness(85%);
}

.control:active {
  filter: brightness(75%);
}

/* END GAME */
.end-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-game > p {
  font-size: 4rem;
  color: white;
}

.end-game > button {
  background-color: var(--background-color);
  color: var(--color);
  border: 1px solid var(--color);
  text-shadow: var(--stroke-effect);
  border-radius: 20px;
  padding: 0.75em 1.25em;
  font-size: 1.5rem;
  transition: all 0.15s;
}

/* Medium Maze */
.maze-medium,
.maze-easy,
.maze-hard {
  border: 2px solid var(--maze-color);
  width: 30rem;
  height: 30rem;
  margin-inline: auto;
  display: grid;
  grid-template: repeat(10, 3rem) / repeat(10, 3rem);
  position: relative;
  overflow: hidden;
}
